*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
        width: 100%;
        min-height: 100vh;
        background-color: #f8f8f8;
    
}
.navbar{
        height: 60px;
        width: 100%;
        background: #fff;
        color: #222;
        display: flex;
        align-items: center;
    
}
.logo{
    height: 40px;
    width: 80px;
}
header{
    height: 60px;
    width: 100%;
    color: #222;
    background-color: #fff;
    display: flex;
    align-items: center;
}
.cont{
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.List{
    display: none;
}
nav ul li {
    display: inline;
    list-style: none;
    margin-right: 20px;
    font-weight: 500;
}
.banner{
    width: 100%;
    height: auto;
    background: url(image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 140px 0;
    margin-bottom: 20px;
    margin-right: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px ;
    
}
.banner h2{
     font-size: 50px;
     margin-bottom: 10px;
}

.banner p{
    font-size: 20px;
    margin-bottom: 10px;
}
.Search{
    max-width: 550px;
    margin: 15px auto;
    display: flex;
    align-items: center;
    justify-content: centre;
}
.Search input{
    width: 70%;
    padding: 10px;
    outline: none;
    border: 0;
    border-radius: 5px 0 0 5px;
    font-size: 1rem;
    border: 1px solid rgb(255, 145, 0);
    margin-bottom: 50px;
    margin-left: 50px;
}
.Search  button{
    background: rgb(255, 145, 0);
    padding: 10px 20px;
    outline: none;
    border: 0;
    border-radius: 0 5px 5px 0;
    font-size: 1rem;
    cursor: pointer;
     color: #fff;
     margin-bottom: 50px;
}
.Food{
    padding: 50px 0;
}
.Food h1{
   text-align: center;
   margin-bottom: 30px;
   font-size: 28px;
}
.section{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
     border-top-left-radius: 10px ;
     border-top-right-radius: 10px;

}
.card{
    background: #fff;
    margin: 30px 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0, 0, 0.1);
}
.card h2{
    font-size: 22px;
    padding: 20px;
}

.card p{
    font-size: 18px;
    padding: 20px;
}
.card a{
    display: block;
    text-align: center;
    text-decoration: none;
    background-color: #333;
    color: #fff;
    padding: 15px 0;
}
.footer{
    background: #333;
    padding: 20px 0;
    text-align: center;
    color: #fff;
}
.card:hover{
    border: 2px solid black;
}
.menu{
    font-size: 24px;
    cursor: pointer;
    padding: 20px;
    text-align: right;
    display: block;
}
@media only screen and (min-width:768px){
    .menu{
        display: none;

    }
    .List{
        display:block;
    }
}
    @media only screen and (max-width:768px){
        .banner h2{
            font-size: 28px;
        }
        .banner p{
            font-size: 15px;
        }

}
